<%- include('../partials/user-head.ejs') %>
  <%- include('../partials/user-nav.ejs') %>
    <style>
      .order-placed-container {
        text-align: center;
      }

      .tick-container {
        color: #4CAF50;
        margin: 20px auto;
      }
    </style>

    <div class="order-placed-container">
      <div class="tick-container">
        <i class="fas fa-check fa-5x"></i>
      </div>
      <h1>Your Order has been Accepted by <span
          style="font-family: 'Ravie', sans-serif; font-weight:bold; font-size: 75px; color: #014122;">Drip</span> team!
      </h1>
      <p>Thank you for shopping with us.</p>

      <br>
      <br>
      <br>
      <a href="/user/order/details" class="btn btn-success mb-5">Track Order</a>



    </div>
    <%- include('../partials/user-foot.ejs') %>