<%- include('../partials/user-head.ejs') %>
<%- include('../partials/user-nav.ejs') %>

<section class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="/images/Drip-store.png" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 customh2">About Us</h2>
            <p class="lead">Welcome to Drip Store, where you can find the latest and greatest sneakers for all your needs. Our mission is to provide high-quality sneakers and exceptional customer service.</p>
            <p>We believe in making online shopping easy and enjoyable for everyone. Whether you're looking for sneakers from top brands, we've got you covered.</p>
            <p>Explore our online store and discover a world of possibilities. Thank you for choosing Drip Store!</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 order-lg-2">
            <img src="/images/our team.png" alt="Image 2" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h2 class="display-4 customh2">Our Team</h2>
            <p class="lead">Meet the dedicated team behind Drip Store. We are passionate about delivering top-notch products and creating a seamless shopping experience for our customers.</p>
            <p>From our customer support team to our talented developers and designers, each member plays a crucial role in ensuring your satisfaction. Get to know us!</p>
        </div>
    </div>
</section>

<%- include('../partials/user-foot.ejs') %>