<%- include('../partials/user-head.ejs') %>
    <%- include('../partials/user-nav.ejs') %>
        <section class="py-3 py-md-5 py-xl-8 bg-white">
            <div class="container">
                <div class="row ms-3">
                    <div class="col-md-10">
                        <h3 class="fs-5 mb-2 text-secondary text-uppercase">Drip Coin: A Stream of Easy Rewards</h3>
                        <h5 class=" mb-4">Drip is your ticket to a constant flow of rewards. Experience a steady stream
                            of benefits and simplicity in the world of cryptocurrency with Drip Coin. Join the journey
                            of effortless gains and discover a coin that makes earning easy and enjoyable.</h5>
                        <a href="/user/home" class="btn btn-lg btn-success mb-3 mb-md-4 mb-xl-5">Collect Now</a>
                    </div>
                </div>

                <div class="container">
                    <div class="row gy-3 gy-md-4 gy-lg-0">
                        <div class="col-12 col-lg-6">
                            <div class="card bg-light p-3 m-0">
                                <div class="row gy-3 gy-md-0 align-items-md-center">
                                    <div class="col-md-5">
                                        <img src="/images/Coin-Drip.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body p-0">
                                            <h2 class="card-title h4 mb-3">Why Choose Drip Coin?</h2>
                                            <p class="card-text lead">🚀 Consistent Rewards: Drip offers a steady stream
                                                of rewards, ensuring you enjoy a reliable and continuous flow of
                                                benefits.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card bg-light p-3 m-0">
                                <div class="row gy-3 gy-md-0 align-items-md-center">
                                    <div class="col-md-5">
                                        <img src="/images/coin-about.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body p-0">
                                            <h2 class="card-title h4 mb-3">Benefits Of Drip-Coins</h2>
                                            <p class="card-text lead">🔒 Secure and Transparent: Rest easy knowing that
                                                Drip prioritizes your security. Our transparent practices provide you
                                                with peace of mind, allowing you to focus on maximizing your rewards.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 col-md-10 col-lg-8">
                            <h3 class="fs-5 mb-2 text-secondary text-uppercase">How it works?</h3>
                            <h5 class=" mb-4">For every 50 rupees you spend, you earn 1 Drip Coin. It's that simple!
                                Whether it's daily expenses, shopping, or any transaction, each 50 rupees spent
                                contributes to your growing Drip Coin balance.</h5>
                            <a href="/user/profile/:id" class="btn btn-lg btn-success mb-3 mb-md-4 mb-xl-5">Back to
                                profile</a>
                        </div>
                    </div>
                </div>
        </section>
        <%- include('../partials/user-foot.ejs') %>