<!doctype html>
<html lang="en">

<head>
    <title>User Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/userLogin.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white border-bottom "
        style="height: 100px; font-family: 'Ravie', sans-serif; font-weight:bold; font-size: 24px; color: #014122;">
        <div class="container-fluid d-flex justify-content-center align-items-center h-100 mt-2">
            <h1 class="mt-2">Drip</h1>
        </div>
    </nav>

    <div class="min-vh-100 d-flex align-items-center mt-0 ">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 mx-auto">
                    <div class="shadow">
                        <div class="d-flex align-items-center">
                            <div class="d-none d-md-block d-lg-block">
                                <img src="/images/login.png" class="objectFit" />
                            </div>
                            <div class="p-4" id="formPanel">
                                <div class="text-center mb-5">
                                    <h1 class="customHeading h3 text-uppercase">Register</h1>
                                </div>
                                <form action="/user/signup" method="post" id="userSignup">
                                    <div class="custom-form-group">
                                        <label class="text-uppercase" for="Username">Username</label>
                                        <input type="text" id="name" class="pb-1" name="name" /><span
                                            class="pb-1 customs"><i class="fas fa-user"></i></span>
                                        <span id="name_error" class="text-danger fw-bold"></span>
                                    </div>
                                    <div class="custom-form-group mt-3">
                                        <label class="text-uppercase" for="email">Email</label>
                                        <input type="text" id="email" class="pb-1" name="email" /><span
                                            class="pb-1 customs"><i class="fas fa-envelope"></i></span>
                                        <span id="email_error" class="text-danger fw-bold"></span>
                                    </div>
                                    <div class="custom-form-group mt-3">
                                        <label class="text-uppercase" for="password">Password</label>
                                        <input type="password" id="password" class="pb-1" name="password" /><span
                                            class="pb-1 customs"><i id="eyeIcon" class="fas fa-eye-slash"
                                                onclick="togglePassword()"></i></span>
                                        <span id="password_error" class="text-danger fw-bold"></span>
                                    </div>
                                    <% if (ref) { %>
                                        <div class="custom-form-group mt-3">
                                            <label class="text-uppercase" for="Refferal Code">Refferal Code</label>
                                            <input readonly value="<%-ref%>" type="text" id="name" class="pb-1" name="refferalcode" placeholder="Optional"/><span
                                                class="pb-1 customs"><i class="fa-solid fa-tag"></i></span>
                                            <span id="name_error" class="text-danger fw-bold"></span>
                                        </div>
                                    <% } %>
                                    <div class="mt-3">
                                        <a class="customa" href="/user/login">Already have account?,<br>Back to
                                            login</a>
                                    </div>
                                    <div class="mt-5">
                                        <button class="w-100 p-2 d-block custom-btn">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blockcode">
        <footer class="page-footer shadow">
            <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-4">
                <div class="text-center text-lg-start mb-3 mb-lg-0">
                    <a href="/" class="d-flex align-items-center p-0 text-dark text-decoration-none">
                        <span class="ms-4 h5 mb-0 font-weight-bold" style="font-family: 'Ravie', sans-serif;color: #014122;">Drip</span>
                    </a>
                    <small class="ms-lg-2">&copy; <span style="font-family: 'Ravie';color: #014122;">Drip</span>, 2023. All rights reserved.</small>
                </div>
                <div class="text-center">
                    <a href="#" class="text-decoration-none me-3 me-lg-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-decoration-none me-3 me-lg-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-decoration-none me-3 me-lg-2"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('userSignup');
            const name = document.getElementById('name');
            const email = document.getElementById('email');
            const password = document.getElementById('password');
            function togglePassword() {
                const passwordField = document.getElementById('password');
                const eyeIcon = document.getElementById('eyeIcon');

                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    eyeIcon.classList.remove('fa-eye-slash');
                    eyeIcon.classList.add('fa-eye');
                } else {
                    passwordField.type = 'password';
                    eyeIcon.classList.remove('fa-eye');
                    eyeIcon.classList.add('fa-eye-slash');
                }
            }

            form.addEventListener('submit', function (e) {
                e.preventDefault();

                let nameRegex = /^[a-zA-Z0-9]+$/;
                let emailRegex = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

                let valid = true;

                if (!name.value.trim().match(nameRegex)) {
                    document.getElementById('name_error').innerHTML = "Enter a valid name";
                    valid = false;
                } else {
                    document.getElementById('name_error').innerHTML = "";
                }

                if (!email.value.trim().match(emailRegex)) {
                    document.getElementById('email_error').innerHTML = "Enter a valid email";
                    valid = false;
                } else {
                    document.getElementById('email_error').innerHTML = "";
                }

                if (password.value.trim().length <= 4 || password.value.trim().length >= 20 || password.value.trim() === "password") {
                    document.getElementById('password_error').innerHTML = "Enter a valid password";
                    valid = false;
                } else {
                    document.getElementById('password_error').innerHTML = "";
                }

                if (valid) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'Do you want to register with the provided details?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, register!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>